@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 87.5%;
  margin: 0 auto;
  background-color: theme("colors.green.50");
  max-width: 1400px;
}

a {
  border-bottom: 1px dotted theme("colors.green.900");
  color: theme("colors.green.900");
}

a:hover {
  border-bottom: 1px dotted theme("colors.blue.800");
  color: theme("colors.blue.800");
  background-color: theme("colors.light-blue.100");
}

h1 {
  margin: 0 auto;
}

p {
  @apply text-lg font-semibold;
}

ul {
  @apply grid grid-cols-1 gap-8 font-mono text-lg;
  margin: 0 auto;
}

li {
  @apply p-4 bg-white border border-green-500 shadow-offset-purple hover:shadow-offset-orange;
}

.flag {
  @apply border-black border;
}

.opt-out {
  @apply w-full;
  height: 310px;
}

.shadow-offset-purple {
  box-shadow: 3px 3px theme("colors.purple.400");
}

@variants hover {
  .shadow-offset-orange {
    box-shadow: 3px 3px theme("colors.orange.400");
  }
}
