---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section class="text-left max-w-prose space-y-4 px-4">
    <p>
      This site contains a collection of RSS feeds I created to make it easier
      to keep up to date with Australian state governments.
    </p>
    <p>
      Pull requests can be made to the repository if there are additional
      sources you would like to see hosted here.
    </p>
    <p>
      Built with <a href="https://astro.build">Astro</a> and <a
        href="https://tailwindcss.com"
        >Tailwind CSS
      </a>.
    </p>
  </section>
</Layout>
