---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section class="text-left max-w-prose space-y-4 px-4">
    <h2 class="font-semibold text-xl">About</h2>
    <p>
      This site contains a collection of RSS feeds I created to make it easier
      to keep up to date with Australian state governments.
    </p>
    <p>
      Pull requests can be made to the repository if there are additional
      sources you would like to see hosted here.
    </p>
    <p>
      Built with <a href="https://astro.build">Astro</a> and <a
        href="https://tailwindcss.com"
        >Tailwind CSS
      </a>.
    </p>
  </section>
  <section class="text-left max-w-prose space-y-4 px-4">
    <h2 class="font-semibold text-xl">Privacy</h2>
    <p>
      This site uses <a href="https://goatcounter.com">GoatCounter</a> for analytics.
      GoatCounter does not track any personal data.
    </p>
    <p>
      <a href="https://gov-rss.goatcounter.com/">Open dashboard</a>.
    </p>
  </section>
</Layout>
