---
import Layout from '../layouts/Layout.astro'
import feedProps from '../data/rss.json'
import Card from '../components/Card.astro'
import CardList from '../components/CardList.astro'

function objectKeys<TObj>(obj: TObj) {
	return Object.keys(obj) as (keyof TObj)[]
}

type Regions = keyof typeof feedProps

const flags: Record<Regions, string> = {
	nsw: 'Flag_of_New_South_Wales.svg',
	qld: 'Flag_of_Queensland.svg',
	sa: 'Flag_of_South_Australia.svg',
	tas: 'Flag_of_Tasmania.svg',
	vic: 'Flag_of_Victoria_(Australia).svg',
	wa: 'Flag_of_Western_Australia.svg',
	act: 'Flag_of_the_Australian_Capital_Territory.svg',
	nt: 'Flag_of_the_Northern_Territory.svg',
}
---

<Layout>
	<CardList>
		{
			objectKeys(feedProps).map((region) => (
				<Card>
					<a
						href={`/${region}`}
						class="grid grid-cols-3 p-4 text-black hover:menu-border"
					>
						<img
							src={`/flags/${flags[region]}`}
							class="border border-black self-left"
							width="56"
							height="29"
							alt={`${region.toUpperCase()} state flag`}
						/>
						<span class="self-center font-bold uppercase font-mono">
							{region}
						</span>
					</a>
				</Card>
			))
		}
	</CardList>
</Layout>
