<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>gov+rss</title>
	</head>
	<body class="bg-emerald-50 flex justify-center">
		<main
			class="container min-h-screen flex flex-col justify-start items-center gap-6 text-center"
		>
			<header>
				<h1
					class="mt-4 text-6xl md:text-7xl font-bold text-sky-900 bg-emerald-300 cursor-default w-60 md:w-72"
				>
					gov+rss
				</h1>
			</header>
			<nav class="flex justify-center gap-2">
				<a href="/"> Home</a>
				<span>⬩</span>
				<a href="/about"> About</a>
				<span>⬩</span>
				<a href="/privacy"> Privacy</a>
				<span>⬩</span>
				<a href="https://github.com/gov-rss/scrape">Contribute</a>
			</nav>
			<section class="flex-grow flex-shrink-0 basis-auto w-full">
				<slot />
			</section>
			<footer class="mb-4">
				<div>
					Website copyright (c) 2022
					<a href="https://github.com/callumskeet">Callum Skeet</a> under the
					<a
						href="https://github.com/gov-rss/gov-rss.github.io/blob/master/LICENSE"
					>
						MIT license
					</a>
				</div>
			</footer>
		</main>
		<style>
			a {
				border-bottom: 1px dotted theme('colors.emerald.900');
				color: theme('colors.emerald.900');
			}

			a:hover {
				border-bottom: 1px dotted theme('colors.blue.800');
				color: theme('colors.blue.800');
				background-color: theme('colors.sky.100');
			}
		</style>
	</body>
</html>
